@import "screen.scss";
@import "print.scss";
@import "ie.scss";
@import "compass/css3";
@import "icons/*.png";
@include all-icons-sprites;
.hd-search .key-style input{opacity:1;}
.hd-search .key-style .store-name{opacity:0;}
.hd-search form{display:-webkit-flex;padding-top:8px;}
.hd-search .ipt-wrap{-webkit-flex:1;}
.hd-search form>button{margin:0 10px;}
.ceshi{color:#eee;}
.aa{font-size:20px;}
.cc{color:#fff;}
.kk{font-size:16px;}
a{ color:red;
	&:hover{color:black;}
	&.ceshi{font-size:20px;}
	&.after{display:inline-block; }
}
$color:red;
div{color:$color;}
ul{
	margin:0;
	li{
		padding-top:2px;
		&.top{
			padding-left:20px;
		}
	}
}
.box{@include border-radius(5px);@include background(linear-gradient(lighten(red,20%),red));}